{% load static i18n %}

<html>
<head>

    <title>django-files-widget</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        body {
            padding-top: 100px;
        }
    </style>
</head>

<body>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/TND/django-files-widget">Django-Files-Widget</a>
            <ul class="nav navbar-nav">
                <li><a  href="{% url 'demo-create' %}">Demo1</a></li>
                <li><a href="{% url 'demo2-create' %}">Demo2</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {% if description %}<h1>{{ description }}</h1>{% endif %}
    <div class="hero-unit">
        {% block content %}
        {% endblock %}
    </div>

</div>
</body>
</html>
